<div class="jumbotron center">
	<h1>Quick Chat <span class="glyphicon glyphicon-phone" aria-hidden="true"></span></h1>
 
   <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Success!</strong> Your SMS message has been sent! <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  </div>
  
<p>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Phone Number</h3>
      </div>
      <div class="panel-body">
        <%= @message.number %>
      </div>
    </div>
  </p>
  
    <p>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">SMS Message</h3>
      </div>
      <div class="panel-body">
        <%= @message.text %>
      </div>
    </div>
  </p>
  
  <%= link_to "Send Another", pages_home_path, :class => "btn btn-success btn-lg" %>